.navigation {
    display: inline-block;
    vertical-align: middle;
}
.li-item {
    display: inline-block;
    margin-right: auto;
}

.logo-item {
    vertical-align: middle;
    margin: right 150px; ;
}
.header-element {
    width: 1595,79px;
    height: 53,72px;
    padding-top: 69px;
    padding-bottom: 69px;
}

 .wraper {
    width: 1400px;
    height: 1050px;
    margin: auto;
    
    
 }
  .left-box {
    display: inline-block;
    width: 671px;
    vertical-align: middle;
    text-align: center;
    
    
   
 }
.right-box {
    display: inline-block;
    width: 678px;
    vertical-align: middle;
    
    
    
    
    
} 
.conteiner {
    width: 1118px;
    height: 335px;
    border: 2px solid color#F9F8F8;
    display: flex;
    
}
.block1{
    width: 257px;
    height: 335px;
    border: 1px solid color#FFFFFF 
}
.block2{
    width: 257px;
    height: 335px;
    border: 1px solid color#FFFFFF 
}
.block3{
    width: 257px;
    height: 335px;
    border: 1px solid color#FFFFFF 
}
.block4{
    width: 257px;
    height: 335px;
    border: 1px solid color#FFFFFF 
}

.title-kartuli-absoluturi [
    font-family: "ALK Life", sans-serif;
]
.title-kartuli-relatiuri [
     font-family: 'ALK Rex Bold';
     

]
 

 .latinuri-relatiuri {
     font-family: 'Roboto';
     font-weight: 800;
     font-size: 50px;
     line-height: 100%;
     font-style: extrabold;
 }
 .line-hate {
    line-height: 165px;
    size: 18px;
    font-style: regular;
    font-weight: 400;
 }
 .size {
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 100%;
 }
 .font-style {
    font: open sans;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 165%;
    
 }
 .name {
    font: yelowtail;
    font-weight: 400;
    font-style: regular;
    font-size: 36px;
    line-height: 100%;
    color: #7EB693;
 }